In [64]:
import numpy as np

In [12]:
a = np.array([[1, 2, 3, 4], [6, 4, 5, 9]])
(a)

array([[1, 2, 3, 4],
       [6, 4, 5, 9]])

In [13]:
a[:, 2]

array([3, 5])

In [8]:
np.zeros((2, 3, 3))

array([[[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]]])

In [104]:
#Assignment
b = np.zeros((5, 5))
b[0::4, :] = 1    #Selects only first and last rows, all columns, and write in 1.
b[:, 0::4] = 1    #Selects all the rows, selects only column 1[0] and 5[4] and assigns a value of 1.
b[2, 2] = 9       #Selects the row with index of 2, and colum with index of 2 and assigns 9.
(b)

array([[1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 1.],
       [1., 0., 9., 0., 1.],
       [1., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1.]])

In [123]:
b = np.array([[1, 3, 4], [2, 4, 6], [2, 3, 4]])
b

array([[1, 3, 4],
       [2, 4, 6],
       [2, 3, 4]])

In [124]:
np.min(b)   #This prints out the minimum value in the array stats.

1

In [125]:
np.min(b, axis=0)    #This prints out the least number in each row.

array([1, 3, 4])

In [119]:
np.max(b, axis=0)    #This prints out the maximum number in each row.

array([2, 4, 6])

In [126]:
np.min(b, axis=1)     #This prints out the least number in each column.

array([1, 2, 2])

In [127]:
np.max(b, axis=1)    #This prints out the maximum number in each column.

array([4, 6, 4])

In [129]:
c = np.array([[1, 2, 3, 4, 5, 6], [7, 8, 9, 10, 11, 12]])
c

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12]])

In [180]:
d = c.reshape((6,2))
d

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10],
       [11, 12]])

In [193]:
d[0:6:2]    #Slicing the reshaped array starting from index 0 to the last index with 2 steps

array([[ 1,  2],
       [ 5,  6],
       [ 9, 10]])

In [200]:
scores = np.random.rand(20,) * 100
scores

array([86.68018561,  9.31983201, 55.70505875, 64.40682247, 24.22055038,
       28.08869528, 73.20540684, 27.84473036, 68.62616893, 22.47892489,
        6.89427162, 34.9654321 , 94.10771924, 57.6627134 , 94.86850044,
        8.33423816, 92.40479573,  4.13037797, 71.5245418 , 24.93790561])

In [199]:
scores[[0, 7, 10, 12, 16]]    #mutiple indexing in numpy

array([78.49656171, 15.75922136, 28.17006528, 77.76027235, 72.70307379])

In [202]:
#Boolean masking.
#Finding score that are greater 50.
#Displaying the scores as the boolean value

gr_than = scores > 50
gr_than    #Shows the boolean value

array([ True, False,  True,  True, False, False,  True, False,  True,
       False, False, False,  True,  True,  True, False,  True, False,
        True, False])

In [203]:
#Masking the boolean value with the actual scores
scores[gr_than]

array([86.68018561, 55.70505875, 64.40682247, 73.20540684, 68.62616893,
       94.10771924, 57.6627134 , 94.86850044, 92.40479573, 71.5245418 ])

In [207]:
scores[~((scores > 40) & (scores < 90))]    #~negative sign in numpy

array([ 9.31983201, 24.22055038, 28.08869528, 27.84473036, 22.47892489,
        6.89427162, 34.9654321 , 94.10771924, 94.86850044,  8.33423816,
       92.40479573,  4.13037797, 24.93790561])

In [378]:
#ASSIGNMENT
#Reading a csv file in numpy.
import csv
docs = np.genfromtxt("sales.csv", delimiter=",", dtype="int64", skip_header=1)
k = docs[:, 1:8]    #slicing off the index from the csv file
k

array([[ 923,  631,  935,  371,  756, 3166,  114],
       [ 918,  626,  930,  366,  751, 3161,  109],
       [ 497,  305,  403,  239,  434,  824,   67],
       [ 499,  307,  405,  241,  436,  826,   69],
       [ 501,  309,  407,  243,  438,  828,   71],
       [ 503,  311,  409,  245,  440,  830,   73],
       [ 505,  313,  411,  247,  442,  832,   75],
       [ 507,  315,  413,  249,  444,  834,   77],
       [ 509,  317,  415,  251,  446,  836,   79],
       [ 511,  319,  417,  253,  448,  838,   81],
       [ 513,  321,  419,  255,  450,  840,   83],
       [ 515,  323,  421,  257,  452,  842,   85],
       [ 517,  325,  423,  259,  454,  844,   87],
       [ 519,  327,  425,  261,  456,  846,   89],
       [ 521,  329,  427,  263,  458,  848,   91],
       [ 523,  331,  429,  265,  460,  850,   93],
       [ 525,  333,  431,  267,  462,  852,   95],
       [ 550,  360,  450,  283,  397, 1200,   30],
       [ 550,  360,  450,  283,  397, 1200,   30],
       [ 550,  360,  450,  283,  397, 1200,   30],
       [ 550,  360,  450,  283,  397, 1200,   30],
       [ 550,  360,  450,  283,  397, 1200,   30],
       [ 550,  360,  450,  283,  397, 1200,   30],
       [ 550,  360,  450,  283,  397, 1200,   30],
       [ 550,  360,  450,  283,  397, 1200,   90],
       [ 540,  350,  440,  273,  387, 1190,   90],
       [ 530,  340,  430,  263,  377, 1180,   90],
       [ 520,  330,  420,  253,  367, 1170,   90],
       [ 510,  320,  410,  243,  357, 1160,   90],
       [ 500,  310,  400,  233,  347, 1150,   90],
       [ 490,  300,  390,  223,  337, 1140,   90],
       [ 480,  290,  380,  213,  327, 1130,   90],
       [ 470,  280,  370,  203,  317, 1120,   90],
       [ 460,  270,  360,  193,  307, 1110,   90],
       [ 450,  260,  350,  183,  297, 1100,   90],
       [ 440,  250,  340,  173,  287, 1090,   90],
       [ 430,  240,  330,  163,  281, 1085,   90],
       [ 420,  230,  320,  153,  275, 1080,   90],
       [ 410,  220,  310,  143,  269, 1075,   90],
       [ 400,  210,  300,  133,  263, 1070,   90],
       [ 390,  200,  290,  123,  257, 1065,   90],
       [ 380,  190,  280,  113,  251, 1060,   90],
       [ 570,  285,  420,  170,  245, 1055,  135],
       [ 855,  428,  630,  254,  239, 1050,  203],
       [1283,  641,  945,  381,  233, 1045,  304],
       [1183,  641,  945,  381,  227, 3426,  274],
       [1133,  641,  945,  381,  221, 3376,  244],
       [1083,  641,  945,  381,  215, 3326,  214],
       [1033,  641,  945,  381,  766, 3276,  184],
       [ 983,  641,  945,  381,  766, 3226,  154],
       [ 933,  641,  945,  381,  766, 3176,  124],
       [ 928,  636,  940,  376,  761, 3171,  119],
       [ 923,  631,  935,  371,  756, 3166,  114],
       [ 918,  626,  930,  366,  751, 3161,  109],
       [ 612,  421,  800,  200,  150, 2000,   65],
       [ 607,  416,  795,  195,  145, 1995,   60],
       [ 602,  411,  790,  190,  140, 1990,   55],
       [ 597,  406,  785,  185,  135, 1985,   50],
       [ 592,  401,  780,  180,  130, 1980,   45],
       [ 587,  396,  775,  175,  125, 1975,   40],
       [ 582,  391,  770,  170,  120, 1970,   35],
       [ 501,  309,  407,  243,  438,  828,   71],
       [ 503,  311,  409,  245,  440,  830,   73],
       [ 505,  313,  411,  247,  442,  832,   75],
       [ 507,  315,  413,  249,  444,  834,   77],
       [ 509,  317,  415,  251,  446,  836,   79],
       [ 511,  319,  417,  253,  448,  838,   81],
       [ 513,  321,  419,  255,  450,  840,   83],
       [ 515,  323,  421,  257,  452,  842,   85],
       [ 517,  325,  423,  259,  454,  844,   87],
       [ 519,  327,  425,  261,  456,  846,   89],
       [ 521,  329,  427,  263,  458,  848,   91],
       [ 523,  331,  429,  265,  460,  850,   93],
       [ 525,  333,  431,  267,  462,  852,   95],
       [ 550,  360,  450,  283,  397, 1200,   30],
       [ 550,  360,  450,  283,  397, 1200,   30],
       [ 550,  360,  450,  283,  397, 1200,   30],
       [ 550,  360,  450,  283,  397, 1200,   30],
       [ 550,  360,  450,  283,  397, 1200,   30],
       [ 550,  360,  450,  283,  397, 1200,   30],
       [ 550,  360,  450,  283,  397, 1200,   30],
       [ 550,  360,  450,  283,  397, 1200,   90],
       [ 540,  350,  440,  273,  387, 1190,   90],
       [ 530,  340,  430,  263,  377, 1180,   90],
       [ 520,  330,  420,  253,  367, 1170,   90],
       [ 510,  320,  410,  243,  357, 1160,   90],
       [ 500,  310,  400,  233,  347, 1150,   90],
       [ 490,  300,  390,  223,  337, 1140,   90],
       [ 480,  290,  380,  213,  327, 1130,   90],
       [ 470,  280,  370,  203,  317, 1120,   90],
       [ 460,  270,  360,  193,  307, 1110,   90],
       [ 450,  260,  350,  183,  297, 1100,   90],
       [ 440,  250,  340,  173,  287, 1090,   90],
       [ 430,  240,  330,  163,  277, 1080,   90],
       [ 420,  230,  320,  153,  267, 1070,   90],
       [ 410,  220,  310,  143,  257, 1060,   90],
       [ 400,  210,  300,  133,  247, 1050,   90],
       [ 390,  200,  290,  123,  237, 1040,   90],
       [ 380,  190,  280,  113,  227, 1030,   90],
       [ 570,  285,  420,  170,  341, 1545,  135],
       [ 855,  428,  630,  254,  511, 2318,  203],
       [1283,  641,  945,  381,  766, 3476,  304],
       [1183,  641,  945,  381,  766, 3426,  274],
       [1133,  641,  945,  381,  766, 3376,  244],
       [1133,  641,  945,  381,  766, 3376,  244]], dtype=int64)

In [381]:
#Average sales per week
new_doc = []
for row in k:
    new_doc.append(np.sum(row)/7)
new_doc

[985.1428571428571,
 980.1428571428571,
 395.57142857142856,
 397.57142857142856,
 399.57142857142856,
 401.57142857142856,
 403.57142857142856,
 405.57142857142856,
 407.57142857142856,
 409.57142857142856,
 411.57142857142856,
 413.57142857142856,
 415.57142857142856,
 417.57142857142856,
 419.57142857142856,
 421.57142857142856,
 423.57142857142856,
 467.14285714285717,
 467.14285714285717,
 467.14285714285717,
 467.14285714285717,
 467.14285714285717,
 467.14285714285717,
 467.14285714285717,
 475.7142857142857,
 467.14285714285717,
 458.57142857142856,
 450.0,
 441.42857142857144,
 432.85714285714283,
 424.2857142857143,
 415.7142857142857,
 407.14285714285717,
 398.57142857142856,
 390.0,
 381.42857142857144,
 374.14285714285717,
 366.85714285714283,
 359.57142857142856,
 352.2857142857143,
 345.0,
 337.7142857142857,
 411.42857142857144,
 522.7142857142857,
 690.2857142857143,
 1011.0,
 991.5714285714286,
 972.1428571428571,
 1032.2857142857142,
 1013.7142857142857,
 995.1428571428571,
 990.1428571428571,
 985.1428571428571,
 980.1428571428571,
 606.8571428571429,
 601.8571428571429,
 596.8571428571429,
 591.8571428571429,
 586.8571428571429,
 581.8571428571429,
 576.8571428571429,
 399.57142857142856,
 401.57142857142856,
 403.57142857142856,
 405.57142857142856,
 407.57142857142856,
 409.57142857142856,
 411.57142857142856,
 413.57142857142856,
 415.57142857142856,
 417.57142857142856,
 419.57142857142856,
 421.57142857142856,
 423.57142857142856,
 467.14285714285717,
 467.14285714285717,
 467.14285714285717,
 467.14285714285717,
 467.14285714285717,
 467.14285714285717,
 467.14285714285717,
 475.7142857142857,
 467.14285714285717,
 458.57142857142856,
 450.0,
 441.42857142857144,
 432.85714285714283,
 424.2857142857143,
 415.7142857142857,
 407.14285714285717,
 398.57142857142856,
 390.0,
 381.42857142857144,
 372.85714285714283,
 364.2857142857143,
 355.7142857142857,
 347.14285714285717,
 338.57142857142856,
 330.0,
 495.14285714285717,
 742.7142857142857,
 1113.7142857142858,
 1088.0,
 1069.4285714285713,
 1069.4285714285713]

In [379]:
#Total sales for the first month
d = []
for row in k:
    d.append(np.sum(row))
np.sum(d[0:4])

19309

In [380]:
#The day with the highest sales in the 3rd month
g = k[11]
np.max(g)    #saturday

842

In [435]:
#What week of the month has the highest sales volume
a = []
b = []
for i, e in enumerate(k):
    a.append(np.sum(e))
    b.append(i)
np.vstack((b, a))

array([[   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
          11,   12,   13,   14,   15,   16,   17,   18,   19,   20,   21,
          22,   23,   24,   25,   26,   27,   28,   29,   30,   31,   32,
          33,   34,   35,   36,   37,   38,   39,   40,   41,   42,   43,
          44,   45,   46,   47,   48,   49,   50,   51,   52,   53,   54,
          55,   56,   57,   58,   59,   60,   61,   62,   63,   64,   65,
          66,   67,   68,   69,   70,   71,   72,   73,   74,   75,   76,
          77,   78,   79,   80,   81,   82,   83,   84,   85,   86,   87,
          88,   89,   90,   91,   92,   93,   94,   95,   96,   97,   98,
          99,  100,  101,  102,  103,  104],
       [6896, 6861, 2769, 2783, 2797, 2811, 2825, 2839, 2853, 2867, 2881,
        2895, 2909, 2923, 2937, 2951, 2965, 3270, 3270, 3270, 3270, 3270,
        3270, 3270, 3330, 3270, 3210, 3150, 3090, 3030, 2970, 2910, 2850,
        2790, 2730, 2670, 2619, 2568, 2517, 2466, 2415, 2364, 2880, 3659,
        4832, 7077, 6941, 6805, 7226, 7096, 6966, 6931, 6896, 6861, 4248,
        4213, 4178, 4143, 4108, 4073, 4038, 2797, 2811, 2825, 2839, 2853,
        2867, 2881, 2895, 2909, 2923, 2937, 2951, 2965, 3270, 3270, 3270,
        3270, 3270, 3270, 3270, 3330, 3270, 3210, 3150, 3090, 3030, 2970,
        2910, 2850, 2790, 2730, 2670, 2610, 2550, 2490, 2430, 2370, 2310,
        3466, 5199, 7796, 7616, 7486, 7486]], dtype=int64)

In [440]:
np.max((a))
#week 101 has the highest sales

7796